# Node.js
node_modules/
npm-debug.log*

# Angular
dist/
tmp/
.angular/

# Visual Studio
**/.vs/
**/bin/
**/obj/
**/*.user
**/*.suo
*.vsidx
/OnelineTest/.vs/

# .NET
**/Debug/
**/Release/
**/packages/
*.nupkg

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db